<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Sign In!</title>
    <link href="../static/css/styles.css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet" />
</head>
<body>
    <form action="/user" method="POST">
        <label>UserName: <input type="text" name="username" th:value="${username}" /></label>
        <label>Email: <input type="email" name="email" th:value="${email}" /></label>
        <label>Password: <input type="password" name="password" /></label>
        <label>Verify Thy Password: <input type="password" name="verify" /></label>
        <p class="error" th:if="${error}" th:text="${error}"></p>
        <button type="submit">Sign up for our MILLIONS OF EMAILS!!!</button>
    </form>




</body>
</html>